syntax: glob

_ReSharper*
.settings
.classpath
.project
.gradle
build/
buildSrc/
bin/
obj/
packages/
*.suo
*.user
*.pidb
*.userprefs
*.xml
*.gpState
glob:*.bak
glob:*.rej
glob:commands.txt
glob:_UpgradeReport_Files
glob:UpgradeLog*.XML
glob:*.orig
glob:Backup
_NCrunch*
*.ncrunchsolution
*.ncrunchproject
*.sln.cache
*.DotSettings
.vs
/.idea
*.binlog